@use "../../foundation/variables" as *;
@use "../../foundation/mixins" as *;

.p-access{
  &__title{
    font-size: 1.8rem;
    color: $main-color;
  }
  &__address{
    font-size: 1.6rem;
    letter-spacing: .1em;
  }
  &__map{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    margin-top: 20px;
    @include mq(md){
      margin-top: 40px;
    }
    & iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__way{
    margin-top: 30px;
    @include mq(md){
      margin-top: 40px;
    }
  }
  &__items{
    font-size: 1.4rem;
    line-height: 2;
    @include mq(md){
      font-size: 1.6em;
    }
    & li{
      list-style: "・";
      margin-left: 10px;
      padding-left: 10px;
    }
  }
  &__button{
    text-align: center;
    padding: 30px;
    @include mq(md){
      padding: 80px 0;
    }
  }
}