@use "../../foundation/variables" as *;
@use "../../foundation/mixins" as *;

.p-company{
  position: relative;
  @include mq(md){
    margin-top: 320px;
  }
  &__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    @include mq(md){
      display: flex;
    }
  }
  &__text-content{
    width: 95%;
    padding: 40px 0;
    margin-right: auto;
    @include mq(md){
      width: 50%;
      padding:40px 6.666% 80px 0;
    }
    &::before{
      content: "";
      position: absolute;
      height: calc(100% - 160px);
      width: 95vw;
      background: $sub-color;
      bottom: 0;
      left: 0;
      z-index: -1;
      overflow: hidden;
      @include mq(md){
        width: 70vw;
        height: 100%;
      }
    }
  }
  &__text-area{
    margin-top: 28px;
    @include mq(md){
      margin-top: 80px;
    }
    &__heading{
      font-weight: 700;
      font-size: 2rem;
      @include mq(md){
        font-size: 4rem;
      }
    }
    &__text{
      font-size: $base-font-size;
      letter-spacing: $letter-spacing;
      font-weight: 600;
      line-height: 2.25;
      margin-top: 20px;
      @include mq(md){
        margin-top: 40px;
      }
    }
  }
  &__button{
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    @include mq(md){
      margin-top: 80px;
    }
  }
  &__image-content{
    width: 90vw;
    margin-left: auto;
    margin-right: calc(50% - 50vw);
    @include mq(md){
      position: absolute;
      margin-right: 0;
      top: -160px;
      right: 0;
      width: 50vw;
      img{
        object-fit: cover;
        width: 100%;
        max-height: 750px;
      }
    }
  } 
}