@use "../../foundation/variables" as *;
@use "../../foundation/mixins" as *;

.p-lead{
  &__text-area{
    background: #fff;
    position: relative;
    padding: 40px 20px;
    top: -40px;
    left: 0;
    width: 94.66vw;
    position: relative; 
    box-shadow: $box-shadow;
    @include mq(lg){
      margin: 0 auto;
      max-width: 1120px;
      padding: 80px 14.583333%;
      top: -160px;
      left: -13.541666%;
    }
    &::before{
      content: "";
      position: absolute;
      display: inline-block;
      background: $accent-color;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      z-index: -1;
    }
    &::after{
      position: absolute;
      content: "";
      display: inline-block;
      background-image: url(/assets/img/recruit2024.png);
      background-size: contain;
      background-repeat: no-repeat;
      width: 13.54vw;
      height: 13.54vw;
      min-width: 130px;
      min-height: 130px;
      right: -5%;
    }
    &__heading{
      font-size: 2rem;
      font-weight: 700;
      color: $main-color;
      letter-spacing: .15em;
      @include mq(md){
        font-size: 3.2rem;
      }
    }
    &__text{
      font-size: $base-font-size;
      letter-spacing: $letter-spacing;
      font-weight: 600;
      line-height: 2.25;
      margin-top: 20px;
      @include mq(md){
        margin-top: 40px;
      }
    }
  } 
}