@use "../../foundation/variables" as *;
@use "../../foundation/mixins" as *;

.p-tab{
  &__list{
    display: flex;
  }
  &__button{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: $letter-spacing;
    background: $sub-color;
    width: 50%;
    padding: 20px 0;
    @include mq(md){
      font-size: 4rem;
    }
  }
}
