<div class="c-circle">
  <svg viewBox="0 0 100 100" class="c-circle__svg">
    <path d="M 0,50 a 50,50 0 1,1 0,1 z" id="circle" />
    <text>
      <textPath xlink:href="#circle">
        RECRUIT 2024 RECRUIT 2024 RECRUIT 2024
      </textPath>
    </text>
  </svg>
</div>