  <footer class="l-footer">
    <div class="">
      <div class="l-footer__inner">
        <div class="l-footer__company">
          <div class="l-footer__heading">
            <div class="l-footer__logo">
              <img src="/assets/img/logo.png" alt="logo">
            </div>
            <p class="l-footer__title">株式会社マイナビワークス</p>
          </div>
          <address class="l-footer__address">
            <p>〒160-0023</p> 
            <p>東京都新宿区西新宿１丁目６−１ 新宿エルタワー</p>
            <a href="">アクセス</a>
            <a href="">プライバシーポリシー</a>
          </address>
        </div>
        <div class="l-footer__menu-items">
          <div class="l-footer__menu-item">
            <h3 class="l-footer__menu-item__heading">会社を知る</h3>
            <ul class="l-footer__menu-item__list">
              <li><a href="">メッセージ</a></li>
              <li><a href="">会社概要</a></li>
              <li><a href="">数字で見る</a></li>
              <li><a href="">仕事を知る</a></li>
            </ul>
          </div>
          <div class="l-footer__menu-item">
            <h3 class="l-footer__menu-item__heading">人を知る</h3>
            <ul class="l-footer__menu-item__list">
              <li><a href="">社員紹介</a></li>
            </ul>
          </div>
          <div class="l-footer__menu-item">
            <h3 class="l-footer__menu-item__heading">環境を知る</h3>
            <ul class="l-footer__menu-item__list">
              <li><a href="">教育研修制度</a></li>
              <li><a href="">福利厚生制度</a></li>
            </ul>
          </div>
          <div class="l-footer__menu-item">
            <h3 class="l-footer__menu-item__heading">採用情報</h3>
            <ul class="l-footer__menu-item__list">
              <li><a href="">募集要項</a></li>
              <li><a href="">選考フロー・FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="l-footer__copyright">
        <small>© 2022 company_name Inc.</small>
      </div>
    </div>
  </footer>