  <header class="l-header">
    <div class="l-header__inner">
      <a href="/">
        <div class="l-header__left">
          <div class="l-header__logo">
            <img src="/assets/img/logo.png" alt="logo">
          </div>
          <div class="l-header__title">
            <p class="l-header__main-title">株式会社マイナビワークス</p>
            <p class="l-header__sub-title">RECRUTING 2024</p>
          </div>
        </div>
      </a>
      <div class="l-header__right">
        <ul class="l-header__menu-items">
          <li class="l-header__menu-item u-sp"><a href="">会社を知る</a></li>
          <li class="l-header__menu-item u-sp"><a href="">人を知る</a></li>
          <li class="l-header__menu-item u-sp"><a href="">環境を知る</a></li>
          <li class="l-header__menu-item u-sp"><a href=""> 採用情報</a></li>
        </ul>
        <div class="l-header__button">
          <a href="#">ENTRY</a>
        </div>
        <div class="l-header__humberger u-pc">
          <span class="l-header__humberger__line"></span>
          <span class="l-header__humberger__line"></span>
          <span class="l-header__humberger__line"></span>
        </div>
      </div>
    </div>
    <div class="l-header__menu-items__sp u-pc">
      <div class="l-header__menu-item__sp">
        <h3 class="l-header__menu-item__sp__heading">
          <p class="l-header__menu-item__sp__heading__ja">会社を知る</p>
          <p class="l-header__menu-item__sp__heading__en">ABOUT US</p>
        </h3>
        <ul class="l-header__menu-item__sp__list">
          <li><a href="">メッセージ</a></li>
          <li><a href="">会社概要</a></li>
          <li><a href="">数字で見る</a></li>
          <li><a href="">仕事を知る</a></li>
        </ul>
      </div>
      <div class="l-header__menu-item__sp">
        <h3 class="l-header__menu-item__sp__heading">
          <p class="l-header__menu-item__sp__heading__ja">人を知る</p>
          <p class="l-header__menu-item__sp__heading__en">EMPLYEE</p>
        </h3>
        <ul class="l-header__menu-item__sp__list">
          <li><a href="">社員紹介</a></li>
        </ul>
      </div>
      <div class="l-header__menu-item__sp">
        <h3 class="l-header__menu-item__sp__heading">
          <p class="l-header__menu-item__sp__heading__ja">環境を知る</p>
          <p class="l-header__menu-item__sp__heading__en">CULTURE</p>
        </h3>
        <ul class="l-header__menu-item__sp__list">
          <li><a href="">教育研修制度</a></li>
          <li><a href="">福利厚生制度</a></li>
        </ul>
      </div>
      <div class="l-header__menu-item__sp">
        <h3 class="l-header__menu-item__sp__heading">
          <p class="l-header__menu-item__sp__heading__ja">採用情報</p>
          <p class="l-header__menu-item__sp__heading__en">RECRUIT</p>
        </h3>
        <ul class="l-header__menu-item__sp__list">
          <li><a href="">教育研修制度</a></li>
          <li><a href="">福利厚生制度</a></li>
        </ul>
      </div>
    </div>
  </header>
