<section class="p-recruit">
  <h2 class="c-title--recruit">
    <p class="c-title__en-title">RECRUIT</p>
    <p class="c-title__ja-title">採用情報</p>
  </h2>
  <div class="p-recruit__wrapper">
    <div class="p-recruit__wrapper__buttons">
      <a href="/recruit/">
        <div class="p-recruit__wrapper__buttons__info">
           募集要項
        </div>
      </a> 
      <a href="/flow-faq/">
        <div class="p-recruit__wrapper__buttons__flow">
          選考フロー・FAQ
        </div>
      </a>
    </div>
    <div class="p-recruit__wrapper__entry">
      <p>ENTRY</p>
    </div>
  </div>
</section>